/* -----TEXT-----*/
body{
    font-size: 14px;
    background-color: #f2f2f2;
}

.text-color-w{
    color: #ffffff;
}

.text-color-black{
    color: #777777;
}

.text-color-blue{
    color: #6674e2;
}

.font-logo{
    font-family: "Caviar Dreams";
    src: url(../fonts/CaviarDreams.ttf);
    font-size: 22px;
}

.text-xxl-wrap{
    font-size: xx-large;
    font-weight: bold;
}
.text-xl-wrap{
    font-size: x-large;
    font-weight: bold;
}

.text-freestyle{
    font-family: Freestyle Script;
    url(../fonts/FREESCPT.ttf);
    font-size: xx-large;

}

.text-myriad{
    font-family: Myriad Pro Regular;
    url(../fonts/Myriad Pro Regular.ttf);
    font-size: 85%;
}

p{
    line-height: 1.2em;
}
/*---------NAVBAR---------*/

.active{
    border-bottom: solid;
}

.bg-navbar{
    background: #ffffff;
}

.navbar{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    height: 100px;
    width: 100%;
}

.navbar-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wrap-item{
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

#gmenu{
    top: 0;
    position: fixed;
    z-index: 1000;
}


/*----------SLIDER-------------*/

.sl-wrap{
    background-image: url("../img/bgslide.png");
    background-size: cover;
    width: 100%;
    height: 70vh;
    margin-top: 100px;
}

.container-fluid{
    padding-right: 0;
    padding-left: 0;
}

.row-wrap{
    display: flex;
    margin: 0;
    align-items: center;
    height: 100%;
}

.trial-wrap{
    display: flex;
    justify-content: flex-end;
}

.trial-item{
    width: 90%;
    padding-left: 20px;
    padding-bottom: 10px;
}

.pdd-txt{
    padding-top: 12px;
}

.trial-text{
    display: flex;
    justify-content: flex-start;
    font-size: 150%;
    padding: 15px;
}

.trial-btn{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-left: 0;
    padding-right: 10px;
    padding-top: 10px;
}

.btn{
    width: 100%;
}

.trial-form{
    flex-direction: column;
    background-color: #ffffff;
    color: #6674e2;
    width: 250px;
    height: 300px;
    border: hidden;
    border-radius: 15px;
}

.text-v-align{
    padding-left: 5%;
}

/*-----FEATURE PROGRAM-----*/

.col-classes{
    border: hidden;
    border-radius: 7px;
    margin: 10px;
    padding-right: 0;
    padding-left: 0;
    box-shadow: 0 0 25px #e8d5d5;
}

.title{
    display: flex;
    justify-content: center;
}

.pdd{
    padding-top: 3%;
}

.title-wrap{
    padding-top: 20px;
}

.class-text{
    font-weight: bold;
    font-size: 95%;
}

.image-class{
    width: 100%;
    height: 100%;
}

.fix{
    margin-right: 0;
}

.text-op{
    opacity: 0.6;
    font-size: small;
}

.start-block{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/*---------GALLERY---------*/

.gallery{
    margin-top: 4%;
}

.gallery-wrap{
    height: 40vh;
    width: 100%;
    margin-left: 0;
}

.img-wrap{
    height: 100%;
}

#image1{
    background: url(../img/gallery1.png) 100% 100% no-repeat;
    background-size: cover;
}

#image2{
    background: url(../img/gallery2.png) 100% 100% no-repeat;
    background-size: cover;
}

#image3{
    background: url(../img/gallery3.png) 100% 100% no-repeat;
    background-size: cover;
}

#image4{
    background: url(../img/gallery4.png) 100% 100% no-repeat;
    background-size: cover;
}

#image5{
    background: url(../img/gallery5.png) 100% 100% no-repeat;
    background-size: cover;
}

#image6{
    background: url(../img/gallery6.png) 100% 100% no-repeat;
    background-size: cover;
}

#image7{
    background: url(../img/gallery7.png) 100% 100% no-repeat;
    background-size: cover;
}

#image8{
    background: url(../img/gallery8.png) 100% 100% no-repeat;
    background-size: cover;
}

#image1:hover,
#image2:hover,
#image3:hover,
#image4:hover,
#image5:hover,
#image6:hover,
#image7:hover,
#image8:hover{
    -webkit-transition: background 0.9s ease-in-out;
    -moz-transition: background 0.9s ease-in-out;
    transition: background 0.9s ease-in-out;
    opacity: 0.6;
}

#image1:hover{
    background: url(../img/gallery1.png) center center;

}
#image2:hover{
    background: url(../img/gallery2.png) center center;
}

#image3:hover{
    background: url(../img/gallery3.png) center center;
}

#image4:hover{
    background: url(../img/gallery4.png) center center;
}

#image5:hover{
    background: url(../img/gallery5.png) center center;
}

#image6:hover{
    background: url(../img/gallery6.png) center center;
}

#image7:hover{
    background: url(../img/gallery7.png) center center;
}

#image8:hover{
    background: url(../img/gallery8.png) center center;
}

/*--------ABOUT AS--------*/

.swiper-container {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.text{
    font-size: 2em;
    font-weight: bold;
}

.about-wrap{
    padding-top: 5%;
    height: 60vh;
    margin-right: 0;

}

.info-about-wrap{
    padding-top: 15px;
}

.slide-wrap{
    height: 40vh;
}

#slide1{
    background: url("../img/slide1.png") center center;
    background-size: cover;
}

/*----------benefit---------*/

.benefit{
    background-image: url("../img/bg2.png");
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 85vh;
    text-align: center;
}

.benefit-item{
    display: flex;
    align-items: center;
    margin: 0;
    height: 50%;
}

/*----------BUY-NOW---------*/

.buy-container-wrap{
    height: 75vh;
    margin-top: 5%;
}

.buy-row-wrap{
    display: flex;
    justify-content: center;
}

.buy-col-wrap{
    height: 400px;
    width: 300px;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 0 25px #e8d5d5;
    border: hidden;
    border-radius: 15px;
}

.up{
    background: #5b6ceb;
    height: 30%;
    width: 100%;
    border: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.under{
    height: 70%;
    width: 100%;
}